
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // --- Funções de Ajuda Globais ---

    // Retorna os dados de um perfil de usuário
    function userData(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data;
    }

    // Verifica se o usuário autenticado é o dono do documento
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    // Verifica se o usuário autenticado é um administrador global
    function isAdmin() {
        return request.auth != null && userData(request.auth.uid).role == 'ADMIN';
    }
  }
}
